.button-wrapper.category-lead.active span, .button-wrapper.file-type.active span {
  background: #FEC157 0% 0% no-repeat padding-box !important;
  color: #000 !important;
  border: 2px solid #940000 !important; }

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #940000;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FDC156; }

::-moz-progress-bar {
  width: 10px;
  height: 8px; }

::-moz-range-track {
  background: #f1f1f1;
  border-radius: 10px; }

::-moz-range-thumb {
  background: #940000;
  border-radius: 10px; }

::-moz-range-thumb:hover {
  background: #FDC156; }

.owl-carousel .owl-item:first-child img.vs-img-position {
  display: none; }

.mejs__overlay-button, .mejs__overlay-loading-bg-img, .mejs__button > button {
  background-image: url("../css/video/mejs-controls.svg"); }

.bg-green {
  background: transparent linear-gradient(90deg, #0BA360 0%, #0EA463 31%, #18A96D 57%, #29B17F 81%, #3CBA92 100%) 0% 0% no-repeat padding-box; }

.bg-purple {
  background: transparent linear-gradient(90deg, #66A6FF 0%, #66A6FF 33%, #35A4AB 100%) 0% 0% no-repeat padding-box; }

.bg-purple-reverse {
  background: transparent linear-gradient(90deg, #764BA2 0%, #7353AD 23%, #6C68CB 65%, #667EEA 100%) 0% 0% no-repeat padding-box; }

.bg-red-2 {
  background: transparent linear-gradient(90deg, #C71D6F 0%, #C71D6F 12%, #C72170 27%, #C82E74 43%, #C9437A 60%, #CC6283 77%, #CF888F 89%, #D09693 100%, #D09693 100%) 0% 0% no-repeat padding-box; }

.red-title-bg {
  background: #940000 0% 0% no-repeat padding-box;
  color: #fff;
  margin-bottom: 20px;
  padding: 5px 10px; }
  .red-title-bg h2 {
    font-size: 24px;
    font-weight: 400;
    font-family: Roboto, serif;
    letter-spacing: 0;
    color: #FFFFFF; }
    .red-title-bg h2 span {
      font-size: 18px;
      font-weight: 400;
      font-family: Roboto, serif;
      letter-spacing: 0;
      color: #FFFFFF; }
  .red-title-bg a {
    font-size: 22px;
    font-weight: 400;
    font-family: Roboto, serif;
    letter-spacing: 0;
    color: #FFFFFF; }

.gray-title-bg {
  background: #DCDCDC 0% 0% no-repeat padding-box;
  color: #000000;
  margin-bottom: 20px;
  padding: 5px 10px; }
  .gray-title-bg h2 {
    font-size: 24px;
    font-weight: 400;
    font-family: Roboto, serif;
    letter-spacing: 0;
    color: #000000; }
    .gray-title-bg h2 span {
      font-size: 18px;
      font-weight: 400;
      font-family: Roboto, serif;
      letter-spacing: 0;
      color: #000000; }
  .gray-title-bg a {
    font-size: 24px;
    font-weight: 400;
    font-family: Roboto, serif;
    letter-spacing: 0;
    color: #000000; }

.border-bottom {
  border-bottom: 2px solid #F4F4F4; }

.border-with-text {
  color: #AEAEAE;
  font-size: 17px;
  font-weight: 400;
  font-family: Roboto, sans-serif;
  letter-spacing: 0;
  display: flex;
  flex-direction: row; }
  .border-with-text span {
    display: inline-block;
    background: #F2F2F2;
    padding: 5px 6px;
    border: 2px solid #E5E5E5;
    border-radius: 100%; }
  .border-with-text:before, .border-with-text:after {
    content: "";
    flex: 1 1;
    border-bottom: 2px solid #E5E5E5;
    margin: auto; }

.upload-preview {
  position: relative;
  margin: 40px 0 75px; }
  .upload-preview img {
    cursor: pointer;
    max-width: 525px;
    height: auto;
    width: 100% !important;
    border-radius: 10px; }
  .upload-preview input {
    display: none;
    position: absolute;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }

.img-preview {
  max-width: 525px;
  width: 100%;
  max-height: 350px;
  height: 100%;
  margin: 0; }

.audio-preview-container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  max-width: 525px;
  width: 100%; }
  .audio-preview-container audio {
    width: 96%; }

.video-preview-container, .img-preview-container {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  max-width: 525px;
  width: 100%;
  margin: 0; }
  .video-preview-container .video-preview, .img-preview-container .video-preview {
    width: 100%;
    max-width: 100%;
    max-height: 345px;
    border-radius: 10px;
    height: 100%; }

.file-upload.upload-btn-group .button-wrapper {
  margin: 0 20px; }
.file-upload.upload-btn-group span.label {
  z-index: 0;
  cursor: pointer;
  color: #AEAEAE;
  font-size: 35px;
  display: inline-flex;
  justify-content: center;
  align-items: center; }
.file-upload nav {
  justify-content: center;
  display: flex;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px; }
.file-upload .nav-tabs {
  border: 0; }
  .file-upload .nav-tabs .nav-link {
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
    .file-upload .nav-tabs .nav-link .button-wrapper {
      position: relative;
      display: inline-block; }
      .file-upload .nav-tabs .nav-link .button-wrapper span.label {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 2px solid #DCDCDC;
        border-radius: 10px;
        position: relative;
        z-index: 0;
        width: 80px;
        height: 80px;
        cursor: pointer;
        color: #AEAEAE;
        font-size: 35px;
        display: flex;
        justify-content: center;
        align-items: center; }
  .file-upload .nav-tabs .nav-item.show .nav-link, .file-upload .nav-tabs .nav-link.active {
    color: inherit;
    background-color: transparent;
    border-color: transparent; }
  .file-upload .nav-tabs .nav-item.show .nav-link .button-wrapper span.label, .file-upload .nav-tabs .nav-link.active .button-wrapper span.label {
    background: #FEC157 0% 0% no-repeat padding-box;
    border: 2px solid #940000;
    color: #000; }
.file-upload #upload-video, .file-upload #upload-image, .file-upload #upload-music {
  position: absolute;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
.file-upload #upload-video:hover, .file-upload #upload-image:hover, .file-upload #upload-music:hover {
  background: #FEC157 0% 0% no-repeat padding-box;
  border: 2px solid #940000; }

.c-name {
  width: 60px; }

.category-align {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap; }

.button-wrapper {
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  text-align: center; }
  .button-wrapper span.label {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #DCDCDC;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    color: #AEAEAE;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }

.content .banner-area {
  background: url("../assets/images/gong-banner.png") no-repeat center center;
  background-size: cover;
  height: 100vh; }
  .content .banner-area .banner-content {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .content .banner-area .banner-content h1 {
      font-size: 104px;
      font-weight: 700;
      font-family: Roboto, serif;
      letter-spacing: 0;
      color: #FEFEFE;
      margin-bottom: 25px; }
    .content .banner-area .banner-content p {
      font-size: 17px;
      font-weight: 400;
      font-family: Roboto, serif;
      letter-spacing: 0;
      color: #FEFEFE;
      margin-bottom: 45px; }
.content .tab-section {
  margin-bottom: 90px; }
  .content .tab-section nav {
    background-color: #273043;
    border-radius: 10px;
    margin-bottom: 55px; }
    .content .tab-section nav .nav-tabs {
      border-bottom: transparent;
      padding: 0 80px;
      margin-top: -40px; }
      .content .tab-section nav .nav-tabs .nav-link {
        border: 1px solid transparent;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 0;
        width: 110px;
        height: 110px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: auto; }
        .content .tab-section nav .nav-tabs .nav-link p {
          font-size: 13px;
          font-weight: 400;
          font-family: Roboto, serif;
          letter-spacing: 0;
          color: #FFFFFF; }
      .content .tab-section nav .nav-tabs div img, .content .tab-section nav .nav-tabs div svg {
        margin-bottom: 7px; }
      .content .tab-section nav .nav-tabs div .passive-img {
        display: inline-block; }
      .content .tab-section nav .nav-tabs div .active-img {
        display: none; }
      .content .tab-section nav .nav-tabs .nav-item.active {
        color: #273043;
        background-color: #FEC157;
        border-color: #FEC157 #FEC157 #FEC157; }
        .content .tab-section nav .nav-tabs .nav-item.active div svg {
          fill: black; }
        .content .tab-section nav .nav-tabs .nav-item.active div .passive-img {
          display: none; }
        .content .tab-section nav .nav-tabs .nav-item.active div .active-img {
          display: inline-block; }
  .content .tab-section .tab-content .tab-widget-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; }
    .content .tab-section .tab-content .tab-widget-title h2 {
      padding: 10px 5px;
      color: #fff;
      font-size: 22px;
      font-weight: 500;
      margin-bottom: 0; }
      .content .tab-section .tab-content .tab-widget-title h2:last-child {
        font-style: italic;
        padding-right: 15px; }
    .content .tab-section .tab-content .tab-widget-title.bg-green {
      background: transparent linear-gradient(90deg, #0BA360 0%, #0EA463 31%, #18A96D 57%, #29B17F 81%, #3CBA92 100%) 0% 0% no-repeat padding-box; }
    .content .tab-section .tab-content .tab-widget-title.bg-purple {
      background: transparent linear-gradient(90deg, #66A6FF 0%, #66A6FF 33%, #35A4AB 100%) 0% 0% no-repeat padding-box; }
    .content .tab-section .tab-content .tab-widget-title.bg-purple-reverse {
      background: transparent linear-gradient(90deg, #764BA2 0%, #7353AD 23%, #6C68CB 65%, #667EEA 100%) 0% 0% no-repeat padding-box; }
    .content .tab-section .tab-content .tab-widget-title.bg-red {
      background: transparent linear-gradient(90deg, #C71D6F 0%, #C71D6F 12%, #C72170 27%, #C82E74 43%, #C9437A 60%, #CC6283 77%, #CF888F 89%, #D09693 100%, #D09693 100%) 0% 0% no-repeat padding-box; }
  .content .tab-section .tab-content .slider-item {
    width: 220px;
    height: 220px;
    margin-bottom: 25px; }
    .content .tab-section .tab-content .slider-item iframe, .content .tab-section .tab-content .slider-item video {
      background: #000;
      width: 260px;
      height: 220px;
      border-radius: 10px; }
.content .app-area {
  background: url("../assets/images/download-banner.png") no-repeat center center;
  background-size: cover;
  padding: 50px 0;
  margin-bottom: 90px; }
  .content .app-area .app-area-content h3 {
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 10px; }
  .content .app-area .app-area-content h1 {
    font-size: 64px;
    color: #FDC156;
    font-weight: 500;
    font-family: Roboto, serif;
    margin-bottom: 15px; }
  .content .app-area .app-area-content p {
    font-size: 19px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 23px; }
  .content .app-area .app-area-content .app-btn-group {
    display: flex; }
    .content .app-area .app-area-content .app-btn-group a {
      margin-right: 15px;
      border-radius: 10px; }
    .content .app-area .app-area-content .app-btn-group img {
      width: 100%;
      max-width: 200px;
      border-radius: 10px; }
.content .artist-area {
  margin-bottom: 90px; }
  .content .artist-area .owl-dots {
    display: none; }
  .content .artist-area h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    font-family: Roboto, serif;
    letter-spacing: 0;
    color: #930000;
    margin-bottom: 50px; }
  .content .artist-area .item img {
    border-radius: 50%;
    margin: 0 auto;
    max-width: 190px;
    width: 100%;
    height: 190px; }
.content .user-card {
  text-align: center;
  background: #940000 0 0 no-repeat padding-box;
  border-radius: 10px 0 0 10px;
  padding: 40px 0;
  margin-bottom: 15px; }
  .content .user-card img {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 2px solid #FEC157;
    border-radius: 100%;
    margin-bottom: 8px; }
  .content .user-card label {
    font-size: 17px;
    display: inline-block;
    font-weight: 500;
    font-family: Roboto, serif;
    letter-spacing: 0;
    color: #FFFFFF;
    border-bottom: 1px solid #FEC157; }
  .content .user-card p {
    font-size: 15px;
    font-weight: 400;
    font-family: Roboto, serif;
    color: #FEC157; }
.content .user-info {
  border-bottom: 2px solid #F4F4F4;
  padding-bottom: 10px; }
  .content .user-info .info-field {
    margin-bottom: 10px;
    display: flex;
    align-items: center; }
    .content .user-info .info-field span {
      font-size: 14px;
      font-weight: 400;
      font-family: Roboto, serif;
      margin: 2px;
      white-space: nowrap;
      overflow: hidden; }
      .content .user-info .info-field span i {
        margin-right: 5px;
        color: #940000; }
    .content .user-info .info-field label, .content .user-info .info-field a {
      font-size: 14px;
      font-weight: 500;
      font-family: Roboto, serif;
      color: #940000;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 150px; }
    .content .user-info .info-field label :hover, .content .user-info .info-field a :hover {
      color: #940000; }
.content .competition-from nav.form-steps-nav {
  border-radius: 0 10px 10px 0;
  background: #F2F2F2;
  margin-bottom: 25px; }
  .content .competition-from nav.form-steps-nav .nav-tabs {
    border-bottom: 0; }
    .content .competition-from nav.form-steps-nav .nav-tabs .nav-link {
      border-radius: 10px;
      font-size: 24px;
      font-family: Roboto, serif;
      background: #F2F2F2;
      font-weight: 500;
      color: #AEAEAE;
      border: 0;
      position: relative; }
      .content .competition-from nav.form-steps-nav .nav-tabs .nav-link.active {
        color: #000;
        background: #FEC157;
        border-radius: 0; }
.content .competition-from .form-steps-content .competition-title h2 {
  font-size: 36px;
  font-weight: 700;
  font-family: Roboto, serif;
  letter-spacing: 0;
  margin-bottom: 15px;
  color: #930000; }
.content .competition-from .form-steps-content .competition-title p {
  font-size: 20px;
  font-weight: 500;
  font-family: Roboto, serif;
  letter-spacing: 0;
  color: #AEAEAE; }
.content .competition-from .form-steps-content .title-lead {
  font-size: 17px;
  font-weight: 400;
  font-family: Roboto, serif;
  letter-spacing: 0;
  color: #273043; }
.content .competition-btn-group div {
  border-bottom: 2px solid #F4F4F4; }

.join-list {
  background: #FAFAFA 0% 0% no-repeat padding-box;
  border: 1px solid #273043;
  border-radius: 10px;
  padding: 10px; }
  .join-list .table tr td {
    border: 0;
    padding: 0; }
    .join-list .table tr td span {
      font-size: 15px;
      font-family: Roboto, serif; }
  .join-list.modal-list {
    border: 0;
    background: #fff; }
    .join-list.modal-list .table tr td {
      border: 0;
      padding: 0 15px 15px;
      white-space: nowrap; }
      .join-list.modal-list .table tr td p {
        font-size: 14px;
        font-weight: 400;
        font-family: Roboto, serif;
        color: #AEAEAE;
        margin: 0; }
      .join-list.modal-list .table tr td label {
        display: block;
        font-size: 17px;
        font-weight: 500;
        font-family: Roboto, serif;
        color: #273043;
        margin: 0; }
  .join-list h4 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    color: #000; }
  .join-list i {
    color: #930000; }

.grid-divider {
  overflow-x: hidden;
  position: relative; }
  .grid-divider > [class*="col-"]:nth-child(n + 2):after {
    content: "";
    background-color: #E5E5E5;
    position: absolute;
    top: 0;
    bottom: 0; }

@media (min-width: 992px) {
  .grid-divider > [class*="col-"]:nth-child(n + 2):after {
    width: 2px;
    height: auto;
    left: -2px; } }
.overlay-dark {
  background-color: rgba(0, 0, 0, 0.4); }

.item.vs-icon .vs-img-position {
  position: absolute;
  width: 57px;
  height: 57px;
  left: -38px;
  z-index: 99;
  top: 80px; }

.post-audio-grid {
  margin-bottom: 25px;
  border-bottom: 2px solid #E5E5E5;
  padding-bottom: 25px; }
  .post-audio-grid .audio-posted {
    padding-bottom: 35px;
    margin-bottom: 25px;
    border-bottom: 2px solid #E5E5E5;
    position: relative; }
    .post-audio-grid .audio-posted .audio-waveform {
      background: #FAFAFA 0% 0% no-repeat padding-box;
      border: 2px solid #900001;
      transition: visibility 0.8s, border-color 0.8s ease-in-out;
      border-radius: 10px;
      position: relative; }
      .post-audio-grid .audio-posted .audio-waveform .event-category {
        z-index: 10;
        position: absolute;
        bottom: 0;
        left: 10px;
        font-size: 15px;
        color: #fff;
        font-family: Roboto, serif;
        font-weight: 400; }
      .post-audio-grid .audio-posted .audio-waveform .event-name {
        z-index: 10;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 12px;
        color: #fff;
        font-family: Roboto, serif;
        font-weight: 400; }
      .post-audio-grid .audio-posted .audio-waveform .like-btn {
        position: absolute;
        z-index: 99;
        right: 10px;
        top: 10px;
        border: none;
        border-radius: 5px;
        display: inline-block;
        background-color: #940000;
        color: #fff;
        padding: 2px 5px; }
      .post-audio-grid .audio-posted .audio-waveform .play-btn {
        opacity: 0;
        transition: visibility 0.8s, opacity 0.8s ease-in-out;
        position: absolute;
        border: none;
        visibility: hidden;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        z-index: 9;
        background: #FDC156;
        border-radius: 100%;
        width: 44px;
        height: 44px;
        color: #fff; }
        .post-audio-grid .audio-posted .audio-waveform .play-btn i {
          margin-left: 2px; }
      .post-audio-grid .audio-posted .audio-waveform:hover {
        background: rgba(39, 48, 67, 0.1) 0% 0% no-repeat padding-box;
        border-color: rgba(39, 48, 67, 0.1);
        transition: visibility 0.8s, opacity 0.8s ease-in-out, border-color 0.8s ease-in-out; }
        .post-audio-grid .audio-posted .audio-waveform:hover .play-btn {
          visibility: visible;
          opacity: 9; }

.post-video-grid {
  margin-bottom: 25px;
  border-bottom: 2px solid #E5E5E5;
  padding-bottom: 25px; }
  .post-video-grid .video-posted {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #E5E5E5; }
    .post-video-grid .video-posted .video-card {
      margin-bottom: 15px; }
      .post-video-grid .video-posted .video-card .event-category {
        z-index: 99;
        position: absolute;
        bottom: 15px;
        left: 10px;
        font-size: 15px;
        color: #FFFFFF;
        font-family: Roboto, serif;
        font-weight: 400; }
      .post-video-grid .video-posted .video-card .event-name {
        z-index: 99;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 12px;
        color: #FFFFFF;
        font-family: Roboto, serif;
        font-weight: 400; }
      .post-video-grid .video-posted .video-card div {
        border-radius: 10px; }
      .post-video-grid .video-posted .video-card .player {
        position: relative; }
        .post-video-grid .video-posted .video-card .player .like-btn {
          position: absolute;
          z-index: 99;
          right: 10px;
          top: 10px;
          border: none;
          border-radius: 5px;
          display: inline-block;
          background-color: #940000;
          color: #fff;
          padding: 2px 5px; }
    .post-video-grid .video-posted .video-btn-group {
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .post-video-grid .video-posted .video-btn-group .btn-secondary:first-child {
        margin-right: 5px; }
      .post-video-grid .video-posted .video-btn-group .btn-secondary.active {
        background-color: #940000;
        border: 2px solid #940000; }
    .post-video-grid .video-posted .video-owner-label {
      font-size: 15px;
      font-family: Roboto, serif;
      font-weight: 400;
      margin-bottom: 10px;
      display: block;
      color: #273043; }
    .post-video-grid .video-posted .media img {
      border: 2px solid #FEC157;
      width: 50px;
      height: 50px;
      border-radius: 100%; }
    .post-video-grid .video-posted .media .media-body {
      align-items: center; }
      .post-video-grid .video-posted .media .media-body h5 {
        font-size: 17px;
        font-family: Roboto, serif;
        font-weight: 500;
        margin-bottom: 0;
        color: #273043; }
      .post-video-grid .video-posted .media .media-body p {
        font-size: 14px;
        font-family: Roboto, serif;
        font-weight: 400;
        font-style: italic;
        margin-bottom: 0;
        color: #940000; }

.post-img-grid {
  margin-bottom: 25px;
  border-bottom: 2px solid #E5E5E5;
  padding-bottom: 25px; }
  .post-img-grid .img-posted {
    padding-bottom: 35px;
    border-bottom: 2px solid #E5E5E5;
    position: relative; }
    .post-img-grid .img-posted .img-card-parent {
      background: #FAFAFA 0% 0% no-repeat padding-box;
      border: 2px solid #900001;
      transition: visibility 0.8s, border-color 0.8s ease-in-out;
      border-radius: 10px;
      position: relative;
      margin-bottom: 12px; }
      .post-img-grid .img-posted .img-card-parent .img-card {
        z-index: 1; }
        .post-img-grid .img-posted .img-card-parent .img-card img {
          width: 100%;
          height: 284px;
          border-radius: 8px; }
          .post-img-grid .img-posted .img-card-parent .img-card img.img-mini {
            width: 100%;
            height: 231px; }
      .post-img-grid .img-posted .img-card-parent .event-category {
        z-index: 99;
        position: absolute;
        bottom: 0;
        left: 10px;
        font-size: 15px;
        color: #fff;
        font-family: Roboto, serif;
        font-weight: 400; }
      .post-img-grid .img-posted .img-card-parent .event-name {
        z-index: 99;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 12px;
        color: #fff;
        font-family: Roboto, serif;
        font-weight: 400; }
      .post-img-grid .img-posted .img-card-parent .like-btn {
        position: absolute;
        z-index: 99;
        right: 10px;
        top: 10px;
        border: none;
        border-radius: 5px;
        display: inline-block;
        background-color: #940000;
        color: #fff;
        padding: 2px 5px; }

.review-tab nav .nav-tabs {
  padding-bottom: 10px;
  margin-bottom: 15px; }
  .review-tab nav .nav-tabs .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    border: 0;
    border-radius: 10px;
    font-family: Roboto, serif;
    font-size: 24px;
    letter-spacing: 0;
    color: #940000; }
    .review-tab nav .nav-tabs .nav-link span {
      font-size: 16px;
      margin-left: 10px; }
  .review-tab nav .nav-tabs .nav-item.show .nav-link, .review-tab nav .nav-tabs .nav-link.active {
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border-color: transparent;
    color: #940000; }
.review-tab .review-list {
  list-style: none;
  padding: 0; }
  .review-tab .review-list li {
    margin-bottom: 10px;
    border-bottom: 1px solid #F2F2F2; }
    .review-tab .review-list li .review-content {
      background: #FAFAFA 0% 0% no-repeat padding-box;
      border-radius: 10px;
      margin-bottom: 10px;
      padding: 10px; }
    .review-tab .review-list li p {
      font-family: Roboto, serif;
      font-size: 17px;
      letter-spacing: 0;
      color: #273043; }
    .review-tab .review-list li .media {
      align-items: center;
      margin-bottom: 10px; }
      .review-tab .review-list li .media img {
        width: 50px;
        height: 50%;
        border-radius: 100%; }
      .review-tab .review-list li .media .media-body h5 {
        margin: 0;
        font-family: Roboto, serif;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: 0;
        color: #940000; }
      .review-tab .review-list li .media .media-body p {
        margin: 0;
        font-family: Roboto, serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0;
        color: #273043; }
.review-tab .see-all {
  font-family: Roboto, serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0;
  color: #940000;
  font-style: italic; }

.theme-timer {
  margin-bottom: 25px;
  border-bottom: 2px solid #E5E5E5;
  padding-bottom: 10px; }
  .theme-timer img {
    width: 100%; }

.statistics-table h3 {
  font-size: 24px;
  font-family: Roboto, serif; }
.statistics-table ul {
  padding: 0 0 10px 0;
  list-style: none;
  border-bottom: 2px solid #E5E5E5; }
  .statistics-table ul li {
    flex-direction: row;
    justify-content: space-between;
    display: flex; }
    .statistics-table ul li span:first-child {
      font-size: 20px;
      font-weight: 500;
      font-family: Roboto, serif;
      letter-spacing: 0;
      color: #273043; }
    .statistics-table ul li span:last-child {
      font-size: 20px;
      font-weight: 400;
      font-family: Roboto, serif;
      letter-spacing: 0;
      color: #273043; }
      .statistics-table ul li span:last-child.user-name {
        font-size: 20px;
        font-weight: 500;
        font-family: Roboto, serif;
        letter-spacing: 0;
        color: #940000; }

.mini-icon .button-wrapper {
  position: relative;
  display: inline-block;
  background: none;
  border: none;
  text-align: center;
  margin-right: 25px; }
  .mini-icon .button-wrapper span.label {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #DCDCDC;
    border-radius: 10px;
    position: relative;
    z-index: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: #AEAEAE;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center; }

.footer {
  background: #000000 0% 0% no-repeat padding-box;
  padding-top: 50px; }
  .footer .footer-widget {
    margin-bottom: 50px; }
    .footer .footer-widget .logo {
      max-width: 165px;
      width: 100%; }
    .footer .footer-widget h3 {
      font-size: 16px;
      font-weight: 500;
      font-family: Roboto, serif;
      font: Regular 16px/19px Proxima Nova;
      letter-spacing: 0;
      color: #FFFFFF;
      margin-bottom: 8px; }
    .footer .footer-widget ul {
      margin: 0;
      padding: 0; }
      .footer .footer-widget ul li {
        list-style: none; }
        .footer .footer-widget ul li a {
          color: #fff;
          font-size: 14px;
          font-weight: 400;
          font-family: Roboto, serif; }
          .footer .footer-widget ul li a:hover {
            color: #fff;
            text-decoration: none; }
      .footer .footer-widget ul.social-media li {
        display: inline-block;
        text-align: center;
        margin-bottom: 10px; }
        .footer .footer-widget ul.social-media li a {
          width: 40px;
          height: 40px;
          border-radius: 100%;
          display: inline-block;
          margin-right: 5px; }

.copy-right {
  padding: 15px 0;
  text-align: center;
  background: #000000;
  border-top: 1px solid #BFBFBF; }
  .copy-right p {
    font-size: 17px;
    font-weight: 400;
    font-family: Roboto, serif;
    letter-spacing: 0;
    color: #6E6E6E;
    margin-bottom: 0; }

@media (max-width: 768px) {
  .content .banner-area .banner-content h1 {
    font-size: 70px;
    font-weight: 700;
    font-family: Script MT;
    letter-spacing: 0;
    color: #FEFEFE;
    margin-bottom: 25px; }
  .content .user-card {
    border-radius: 10px; }
  .content .competition-from nav.form-steps-nav .nav-tabs {
    border-bottom: 0; }
    .content .competition-from nav.form-steps-nav .nav-tabs .nav-link {
      border-radius: 10px;
      font-size: 18px;
      font-family: Roboto, serif;
      background: #F2F2F2;
      font-weight: 500;
      color: #AEAEAE;
      border: 0;
      position: relative; }
      .content .competition-from nav.form-steps-nav .nav-tabs .nav-link.active {
        color: #000;
        background: #FEC157;
        border-radius: 0; }
  .content .competition-from .form-steps-content .competition-title h2 {
    font-size: 20px; }
  .content .competition-from .form-steps-content .competition-title p {
    font-size: 16px; }
  .content .competition-from .form-steps-content .title-lead {
    font-size: 16px; }
  .content .competition-btn-group div {
    border-bottom: 0; }
  .content .tab-section {
    margin-bottom: 50px; }
    .content .tab-section .tab-content .tab-widget-title {
      margin-bottom: 20px;
      margin-top: 30px; }
  .content .post-video-grid .video-posted {
    padding-bottom: 35px; }
  .content .app-area {
    margin-bottom: 50px; }
    .content .app-area .app-area-content h3 {
      font-size: 22px;
      margin-bottom: 10px; }
    .content .app-area .app-area-content h1 {
      font-size: 36px;
      margin-bottom: 15px; }
    .content .app-area .app-area-content p {
      font-size: 14px;
      margin-bottom: 18px; }
    .content .app-area .app-area-content .app-btn-group {
      display: flex; }
      .content .app-area .app-area-content .app-btn-group a {
        margin-right: 15px;
        border-radius: 10px; }
      .content .app-area .app-area-content .app-btn-group img {
        width: 100%;
        max-width: 120px;
        border-radius: 10px; }
    .content .app-area .app-demo {
      max-width: 240px;
      width: 100%; }
  .content .artist-area {
    margin-bottom: 50px; }
    .content .artist-area h2 {
      font-size: 36px;
      margin-bottom: 50px; }
    .content .artist-area .item {
      text-align: center; }
      .content .artist-area .item img {
        border-radius: 50%;
        width: 100%; }
  .content .tab-section nav .nav-tabs {
    border-bottom: transparent;
    padding: 0 30px;
    margin-top: -40px; }
    .content .tab-section nav .nav-tabs .nav-link {
      width: 80px;
      height: 80px; }
    .content .tab-section nav .nav-tabs .nav-item.active {
      color: #273043;
      background-color: #FEC157;
      border-color: #FEC157 #FEC157 #FEC157; }
  .content .join-list .table tr td i {
    font-size: 14px; }
  .content .join-list .table tr td span {
    font-size: 13px; }
  .content .join-list h4 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    color: #000; }
  .content .join-list i {
    color: #930000; }
  .content .post-video-grid {
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0; }
    .content .post-video-grid .video-posted .video-card {
      margin-bottom: 0; }
      .content .post-video-grid .video-posted .video-card img {
        width: 100%; }
    .content .post-video-grid .row.grid-divider:last-child .video-posted {
      margin-bottom: 25px;
      border-bottom: 2px solid #E5E5E5;
      padding-bottom: 25px; }

  .red-title-bg h2 {
    font-size: 20px; }

  .red-title-bg a {
    font-size: 17px;
    font-weight: 500; } }
@media (max-width: 767px) {
  .video-preview-container .video-preview, .img-preview-container .video-preview {
    max-height: 345px; } }
@media (max-width: 425px) {
  .video-preview-container .video-preview, .img-preview-container .video-preview {
    max-height: 345px; }

  .content .banner-area .banner-content h1 {
    font-size: 40px;
    font-weight: 700;
    font-family: Script MT;
    letter-spacing: 0;
    color: #FEFEFE;
    margin-bottom: 15px; }
  .content .banner-area .banner-content p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 20px; }
  .content .tab-section nav .nav-tabs {
    border-bottom: transparent;
    padding: 0 0px;
    margin-top: -40px; }
    .content .tab-section nav .nav-tabs .nav-link {
      width: 80px;
      height: 80px; }
    .content .tab-section nav .nav-tabs .nav-item.active {
      color: #273043;
      background-color: #FEC157;
      border-color: #FEC157 #FEC157 #FEC157;
      border-radius: 10px; }
  .content .app-area {
    padding: 25px 0; }
    .content .app-area .app-area-content {
      text-align: center; }
      .content .app-area .app-area-content .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):before, .content .app-area .app-area-content .flipdown.flipdown__theme-dark .rotor-group:nth-child(n+2):nth-child(-n+3):after {
        background-color: #fff; }
      .content .app-area .app-area-content h3 {
        font-size: 20px; }
      .content .app-area .app-area-content h1 {
        font-size: 42px; }
      .content .app-area .app-area-content p {
        font-size: 15px; }
      .content .app-area .app-area-content .app-btn-group {
        justify-content: center; }
  .content .competition-btn-group div {
    border-bottom: 2px solid #F4F4F4; }
  .content .post-video-grid .video-posted .video-card {
    margin-bottom: 15px; }
    .content .post-video-grid .video-posted .video-card img {
      width: 100%; }
  .content .post-video-grid .video-posted .video-btn-group {
    justify-content: space-around; }
  .content .post-video-grid .btn.mini-btn {
    font-size: 14px;
    font-weight: 400;
    padding: 5px 15px; } }
@media (max-width: 375px) {
  .video-preview-container .video-preview, .img-preview-container .video-preview {
    max-height: 230px; } }

/*# sourceMappingURL=style.css.map */
