@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');
.show-web-hide-mob {
  display: initial;
}
.show-mob-hide-web {
  display: none;
}
select.form-control {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
    background: url('../images/dropdown-icon.png') no-repeat right 5px top 12px;
    /* For IE10 */
}
select.form-control.white-icon {
    background: url('../images/white-drop-angle.png') no-repeat right 5px top 12px;
}
select.form-control::-ms-expand {
    display: none;
}
.bg-red {
  background: #940000 0% 0% no-repeat padding-box;
}
a {
  color: #940000;
  &:hover {
    color: #940000;
    text-decoration: none;
  }
}
.form-control:focus {
  box-shadow: none;
}
.input-field {
  text-align: left;
  .input-group {
      .input-pre-icon {
          background: #F2F2F2;
          position: absolute;
          height: calc(1.3em + .75rem + 2px);
          padding: 2px 5px 5.5px 5px;
          z-index: 9;
          border-radius: 10px 0 0 10px;
          text-align: center;
          width: 35px;
          + input, + select {
              padding-left: 40px;
          }
          &.input-border-dark {
              border: 1px solid #273043;
              border-right: 0;
          }
      }
      i {
          line-height: 32px;
          color: #940000;
      }
      .input-icon {
          display: inline-block;
      }

    p {
      margin: 0;
    }
  }
  label {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    color: #FFFFFC;
    opacity: 1;
  }
  .form-control {
    background-color: transparent;
    color: #fff;
      flex-basis: auto;
    font-size: 14px;
    font-weight: 400;
    border-radius: 10px !important;
  }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    outline: 0;
    box-shadow: none;
  }
}
.form-control {
    border-radius: 10px;
    &.input-border-dark {
        border: 1px solid #273043 !important;
    }
}
.theme-form {
  .input-field {
    width: 100%;
    max-width: 100%;
    text-align: left;
    label {
      color: #DCDCDC;
      opacity: 1;
      font-weight: 500;
      &.text-dark {
        color: #273043;
      }
    }
    .form-control {
      border: 1px solid #DCDCDC;
      background-color: transparent;
      height: calc(1.5em + .75rem + 2px);
      color: #495057;
      font-size: 14px;
      font-weight: 400;
      border-radius: 10px;
      width: 100%;
      &.border-dark {
        border: 1px solid #273043 !important;
      }
    }

    .form-control:focus {
      color: #495057;
      background-color: #DCDCDC;
      border-color: #DCDCDC;
      outline: 0;
      box-shadow: none;
    }
  }
}
//theme btn styling Start.
button{
  position: relative;

  &:before {
    content: '';
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.5s;
    animation: 0.8s linear infinite rotate;
  }
  &.sending{
    pointer-events: none;
    cursor: not-allowed;
    transition: 1s cubic-bezier(0.23, 1, 0.32, 1);
    padding-right: 40px;

    &:before {
      transition-delay: 0.5s;
      transition-duration: 1s;
      opacity: 1;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
button:focus {
  outline: none;
}
.btn {
  font-size: 18px;
  font-weight: 500;
  font-family: Roboto, serif;
  border: none;
  padding: 8px 30px;
  letter-spacing: 0;
  color: #000000;
  border-radius: 10px;
  &.mini-btn {
    font-size: 14px;
    font-weight: 400;
    padding: 6px 25px;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn.focus, .btn:focus {
  outline: 0;
  box-shadow: none;
}

.btn-primary {
  color: #000;
  background-color: #FDC156;
  border: 2px solid #FDC156;
}
.btn-primary:hover {
  color: #000;
  background-color: #FDC156;
  border-color: #FDC156;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #000;
  background-color: #FDC156;
  border-color: #FDC156;
}
.btn-primary.focus, .btn-primary:focus, .btn-primary:disabled {
  color: #000;
  background-color: #FDC156;
  border-color: #FDC156;
  box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
  box-shadow: none;
    color: #000;
    background-color: #FDC156;
    border-color: #FDC156;
}

.btn-secondary {
  color: #000;
  background-color: transparent;
  border: 2px solid #AEAEAE;
}
.btn-secondary:hover {
  color: #000;
  background-color: transparent;
  border-color: #AEAEAE;
}
.btn-secondary.focus, .btn-secondary:focus {
  color: #000;
  background-color: transparent;
  border-color: #AEAEAE;
  box-shadow: none;
}

.btn-danger {
  color: #fff;
  background-color: #940000;
  border: 2px solid #940000;
}
.btn-danger:hover {
  color: #fff;
  background-color: #940000;
  border-color: #940000;
}
.btn-danger:not(:disabled):not(.disabled).active, .btn-danger:not(:disabled):not(.disabled):active, .show>.btn-danger.dropdown-toggle {
  color: #fff;
  background-color: #940000;
  border-color: #940000;
}
.btn-danger.focus, .btn-danger:focus {
  color: #fff;
  background-color: #940000;
  border-color: #940000;
  box-shadow: none;
}
.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus, .show>.btn-danger.dropdown-toggle:focus {
  box-shadow: none;
}

//theme btn styling end
//      ==============Navbar css start=================
.navbar {
  .nav-user-icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .navbar-collapse {
    .navbar-nav {
      align-items: center;
    }
  }
}
.navbar-toggler {
  border: 0 !important;
  padding: 0;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border-radius: .25rem;
}

        //      ============== search-widget css start=================
.search-widget {
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #AEAEAE;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #AEAEAE;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #AEAEAE;
  }
  position: relative;
  input {
    border: 1px solid #FEFEFE;
    background-color: transparent;
    border-radius: 21px;
    font-family: Roboto, serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0;
    color: #FEFEFE;
    &:focus {
      background-color: transparent;
      color: #FEFEFE;
    }
  }
  button {
    position: absolute;
    right: 10px;
    top: 8px;
    font-family: Roboto, serif;
    font-size: 17px;
    font-weight: 400;
    color: #FFFFFF;
    background: none;
    border: none;
    padding: 0;
  }
}
        //      ============== search-widget css End =================


//      ==============Navbar css End=================


@media (max-width: 768px) {
  .show-web-hide-mob {
    display: none;
  }
  .show-mob-hide-web {
    display: initial;
  }
  .navbar {
    .navbar-brand {
      width: 60px;
    }
    .nav-user-icon {
      width: 40px;
      height: 40px;
      border-radius: 100%;
    }
    .dropdown-toggle::after {
      display: none;
    }
    .navbar-collapse {
      .navbar-nav {
        align-items: start;
      }
    }
    .search-widget {
      input.form-control {
        width: 100%;
      }
    }
  }

}
@media (max-width: 425px) {
  .btn {
    font-size: 14px;
    padding: 6px 25px;
    &.mini-btn {
      font-size: 14px;
      font-weight: 400;
      padding: 5px 20px;
    }
  }

}
